{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-1 ">
        logo
        <img src="{% static "image/location.png" %}" height="300px">
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-11 ">
        Tool Description
    </div>
</div>
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <h1>WGS</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Latitude</label>
                <input type="number" class="form-control my-1" id="Latitude" aria-describedby="Latitude" placeholder="Latitude">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Longitude</label>
                <input type="number" class="form-control my-1" id="Longitude" aria-describedby="Longitude" placeholder="Longitude">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Convert</button>
        </form>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <h1>UTM</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Coordinate X</label>
                <input type="number" class="form-control my-1" id="X" aria-describedby="Coordinate X" placeholder="Coordinate X">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Coordinate Y</label>
                <input type="number" class="form-control my-1" id="Y" aria-describedby="Coordinate Y" placeholder="Coordinate Y">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">UTM</label>
                <input type="number" class="form-control my-1" id="UTM" aria-describedby="UTM" placeholder="UTM Zone">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Convert</button>
        </form>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
        <h1>batch file</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">WGS 84</label>
                <input type="file" class="form-control my-1" id="WGSBatch" aria-describedby="Choose your file" placeholder="Choose your file">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">UTM</label>
                <input type="file" class="form-control my-1" id="UTMBatch" aria-describedby="Choose your file" placeholder="Choose your file">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2">Download Template</button>
                <button type="submit" class="btn btn-primary mt-2">Convert</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}