{% extends 'base.html' %} {% load static %} {% block head %} {% endblock %} {% block content %}
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-1">logo <img src="{% static "image/location.png" %}" height="300px"></div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-11">Tool Description</div>
</div>
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h1>UTM</h1>
    <form method="POST" id="formUTM" action={% url "coorConvert" %}>
      {% csrf_token %}
      {{ formUTM }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2" name ="typeform" value="utm">Convert</button>
      </div>
    </form>
    <h1>WGS</h1>
    <form method="POST" id="formWGS" action={% url "coorConvert" %}>
      {% csrf_token %}
      {{ formWGS }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2" name ="typeform" value="wgs" >Convert</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %} {% endblock %}
