{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}


{% block head %}
<style>
    #map {
        height: 30vh;
        widht: 100%;
    }
    .blur:hover {
        background-color: gray;
        opacity: 0.5; /* Adjusted opacity to show blurring effect */
    }
    .blur:hover::after {
        content: "Click to see map";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% comment %} Leaflet CDN {% endcomment %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

{% endblock %}


{% block content %}
<content>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card-header">
                Transportation Data
            </div>
            <div class="card-body">
            <div id="pie-chart"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card-header">
                Data 2
            </div>
            <div class="card-body">
                isi apa hayo
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card-header">
                Data Tabular
            </div>
            <div class="card-body">
                {% render_table table %}
                <a href="{% url 'transData' %}">
                    Edit /  Data
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="card-header">
                keterangan trayek
            </div>
            <div class="card-body">
                isi
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card-header">
                minimap
            </div>
            <div class="card-body">
                <a href="{% url 'transMap' %}">
                    <div id="map" class="blur"></div>
                </a>
            </div>
        </div>
    </div>    
</content>
{% endblock %}

{% block script %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>   
        // Latitude and Longitude arrays from Django context
        const latitudes = {{ latitudes|safe }};
        const longitudes = {{ longitudes|safe }};

        // Create a map
        var map = L.map('map').setView([-6.2088, 106.8456], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Add circles to the map based on latitudes and longitudes
        for (let i = 0; i < latitudes.length; i++) {
            let latitude = latitudes[i];
            let longitude = longitudes[i];

            L.circle([latitude, longitude], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 250
            }).addTo(map);
        };
</script>

<script>
    var plotData = {{ plot_json|safe }};
    Plotly.newPlot('pie-chart', plotData.data, plotData.layout);
</script>
{% endblock %}