<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Sederhana</title>
    <link rel="stylesheet" href="kitab.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">WebGIS</a>
        </div>
        <ul class="navbar-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="webgis.html">WebGIS</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
        <div class="image-background">
        <h1>Halo, Dunia!</h1>
        <p>Ini adalah contoh background warna solid.</p>
        <button class="animated-button">Klik Saya</button>
        </div>
    <nav class="slide_1">
            <h1>Halo, Dunia!</h1>
            <p>WebGIS adalah aplikasi berbasis web yang memungkinkan pengguna untuk bekerja dengan data geografis dan peta melalui internet. WebGIS mengintegrasikan teknologi sistem informasi geografis (GIS) dengan teknologi web untuk menyediakan platform yang dapat diakses oleh banyak pengguna dari berbagai lokasi.</p>
            <img class="gambar.jpg">
            <img src="gambar/tengah.jpg" alt="Deskripsi Gambar" class="styled-image">
            </div>
    </nav>
        <ul class="flex-container">
            <li<a class="flex-item">#</a></li>
        </ul>
        <li><a class="flexaja">Server GIS: Server Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on Server GIS: Server Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template onServer GIS: Server Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on</a></li>
    </div>
    <nav class="slide_2">
        <img src="gambar/tengah.jpg" alt="Deskripsi Gambar" class="kotakbanyakkiri">    
        <img src="gambar/tengah.jpg" alt="Deskripsi Gambar" class="kotakbanyakkanan">
        <img src="gambar/tengah.jpg" alt="Deskripsi Gambar" class="kotakbanyakkiri">    
        <img src="gambar/tengah.jpg" alt="Deskripsi Gambar" class="kotakbanyakkanan">  
    </nav>
    <nav class="slide_3">
        <div class="background">
            <div class="overlay">
                <div class="container">
                    <div class="icon">
                        <img src="/gambar/instagram.svg" alt="Paper Plane Icon">
                    </div>
                    <h1>Subscribe to receive updates!</h1>
                    <form class="subscribe-form">
                        <input type="email" placeholder="Enter email address...">
                        <button type="submit">Notify Me!</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    
    

    <footer>
        <div class="social-media">
            <a href="#">🐦</a>
            <a href="#">📘</a>
            <a href="#">🐱</a>
        </div>
        <p>Copyright &copy; Your Website 2023</p>
    </footer>
             

</body>
</html>
