<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Sederhana</title>
    <link rel="stylesheet" href="kitab.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="home.html">WebGIS</a>
        </div>
        <ul class="navbar-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="webgis.html">WebGIS</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="icon1">
        <a href="home.html">
        <img src="/gambar/back.svg" height="30px" alt="Paper Plane Icon"> 
        </a>
        </div>
    <h1>MENU FITUR</h1>
    <div class="containerr">
       <a>
        <div class="info-box">
            <a href="home.html">
                <img src="/gambar/giribahama.jpg" height="300px">
            </a>
            <a href="home.html">
                <h1 > WEBGIS GOA</h1>
            </a>
            <hr>
            <p>4923 Market Street, Orlando FL</p>
        </div>
       </a> 
        <div class="info-box">
            <a
                href="home.html">
                <img src="/gambar/location.png" height="300px">
            </a>
            <a
                href="home.html"> 
            </a>
            <a
                href="home.html">
                <h1>COORDINAT</h1>
            </a>
            
            <hr>
            <p><a href="mailto:hello@yourdomain.com">hello@yourdomain.com</a></p>
        </div>
        <div class="info-box">
            <a
                href="home.html">
                <img src="/gambar/forum.png" height="300px">
            </a>

            <a 
                href="home.html">
                <h1>FORUM</h1>
            </a>
            <hr>
            <p>Coming Soon</p>
        </div>
    </div>

    <!-- <footer>
        <div class="social-media">
            <a href="#">🐦</a>
            <a href="#">📘</a>
            <a href="#">🐱</a>
        </div>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Tentang Kami</h4>
                <p>Kami adalah perusahaan yang bergerak di bidang teknologi.</p>
            </div>
            <div class="footer-section">
                <h4>Navigasi</h4>
                <ul>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Kontak</h4>
                <p>Email: info@perusahaan.com</p>
                <p>Telepon: +1 (555) 123-4567</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Perusahaan Anda. Hak Cipta Dilindungi.</p>
        </div>
    </footer> -->

</body>
</html>